<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

    <flux:form id="teufelsCptCntBsColfour"
               label="TYPO3 :: Bootstrap :: 4 Spalten"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">



        <flux:form.sheet name="preview" label="Preview" description="" shortDescription="Preview">
            <flux:field.custom name="customPreview">
                <div class="l">
                    <p>{col-xs}<br>Visibility on smartphone:{visibility-xs}</p>
                    <p>{col-sm}<br>Visibility on tablet:{visibility-sm}</p>
                    <p>{col-md}<br>Visibility on desktop:{visibility-md}</p>
                    <p>{col-lg}<br>Visibility on large desktop:{visibility-lg}</p>
                </div>
            </flux:field.custom>
        </flux:form.sheet>

        <!-- SMARTPHONE -->
        <flux:form.sheet name="smartphone" label="Smartphone" description="" shortDescription="Display options for large smartphone">
            <flux:field.custom name="customXs">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-xs.png')}"/>
                </div>
            </flux:field.custom>
            <v:variable.set name="col-xs">col-xs-12</v:variable.set>
            <flux:field.select name="visibility-xs"
                               label="Visibility on smartphone"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on Smartphone',1:'visible-xs'},
                               2:{0:'Hide on Smartphone',1:'hidden-xs'}
                               }"
            />
        </flux:form.sheet>


        <!-- TABLET -->
        <flux:form.sheet name="tablet" label="Tablet" description="" shortDescription="Display options for tablet">
            <flux:field.custom name="customSm">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-sm.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-sm" label="Use Offset on tablet" default="NULL" requestUpdate="1"/>
                <flux:field.select name="col-sm"
                                   label="Width of columns on tablet"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All columns 100%',1:'col-100'},
                                   2:{0:'Columns 50%',1:'col-50'}
                                   3:{0:'Columns 25%',1:'col-25'}
                                   }"
                />
                <f:if condition="{col-sm} == 'col-100'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-12</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-12</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-12</v:variable.set>
                        <v:variable.set name="col-sm4">col-sm-12</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-50'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-6</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-6</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-6</v:variable.set>
                        <v:variable.set name="col-sm4">col-sm-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-25'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm4">col-sm-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-sm"
                               label="Visibility on tablet"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on tablet',1:'visible-sm'},
                               2:{0:'Hide on tablet',1:'hidden-sm'}
                               }"
            />
        </flux:form.sheet>

        <flux:form.sheet name="desktop" label="Desktop" description="" shortDescription="Display options for desktop">
            <flux:field.custom name="customMd">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-md.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-md" label="Use Offset on desktop" default="NULL" requestUpdate="1"/>
                <flux:field.select name="colmd"
                                   label="Width of columns on dektop"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All columns 100%',1:'col-100'},
                                   2:{0:'Columns 50%',1:'col-50'}
                                   3:{0:'Columns 25%',1:'col-25'}
                                   }"
                        />
                <f:if condition="{colmd} == 'col-100'">
                    <f:then>
                        <v:variable.set name="colmd">col-md-12</v:variable.set>
                        <v:variable.set name="colmd2">col-md-12</v:variable.set>
                        <v:variable.set name="colmd3">col-md-12</v:variable.set>
                        <v:variable.set name="colmd4">col-md-12</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{colmd} == 'col-50'">
                    <f:then>
                        <v:variable.set name="colmd">col-md-6</v:variable.set>
                        <v:variable.set name="colmd2">col-md-6</v:variable.set>
                        <v:variable.set name="colmd3">col-md-6</v:variable.set>
                        <v:variable.set name="colmd4">col-md-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{colmd} == 'col-25'">
                    <f:then>
                        <v:variable.set name="colmd">col-md-3</v:variable.set>
                        <v:variable.set name="colmd2">col-md-3</v:variable.set>
                        <v:variable.set name="colmd3">col-md-3</v:variable.set>
                        <v:variable.set name="colmd4">col-md-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-md"
                               label="Visibility on desktop"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on desktop',1:'visible-md'},
                               2:{0:'Hide on desktop',1:'hidden-md'}
                               }"
                    />
        </flux:form.sheet>

        <flux:form.sheet name="largedesktop" label="Large desktop" description="" shortDescription="Display options for large desktop">
            <flux:field.custom name="customLg">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-lg.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-lg" label="Use Offset on large desktop" default="NULL" requestUpdate="1"/>
                <flux:field.select name="col-lg"
                                   label="Width of columns on large desktop"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All columns 100%',1:'col-100'},
                                   2:{0:'Columns 50%',1:'col-50'}
                                   3:{0:'Columns 25%',1:'col-25'}
                                   }"
                />
                <f:if condition="{col-lg} == 'col-100'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-12</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-12</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-12</v:variable.set>
                        <v:variable.set name="col-lg4">col-lg-12</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-50'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-6</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-6</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-6</v:variable.set>
                        <v:variable.set name="col-lg4">col-lg-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-25'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg4">col-lg-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-lg"
                               label="Visibility on large desktop"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on large desktop',1:'visible-lg'},
                               2:{0:'Hide on large desktop',1:'hidden-lg'}
                               }"
            />
        </flux:form.sheet>


            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="col0" label="Column Left <br><code>{col-xs}</code><code>{col-sm}</code><code>{colmd}</code><code>{col-lg}</code>" style="width:25%;" />
                    <flux:grid.column name="col1" label="Column Middle Left<br><code>{col-xs}</code><code>{col-sm2}</code><code>{colmd2}</code><code>{col-lg2}</code>" style="width:25%;" />
                    <flux:grid.column name="col2" label="Column Middle Right<br><code>{col-xs}</code><code>{col-sm3}</code><code>{colmd3}</code><code>{col-lg3}</code>" style="width:25%;" />
                    <flux:grid.column name="col3" label="Column Right <br><code>{col-xs}</code><code>{col-sm4}</code><code>{colmd4}</code><code>{col-lg4}</code>" style="width:25%;" />
                </flux:grid.row>
            </flux:grid>

        </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>

    <f:section name="Main">

        <v:variable.set name="col-xs">col-xs-12</v:variable.set>

        <f:if condition="{col-sm} == 'col-100'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm4">col-sm-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-50'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm4">col-sm-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-25'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm4">col-sm-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{colmd} == 'col-100'">
            <f:then>
                <v:variable.set name="colmd">col-md-12</v:variable.set>
                <v:variable.set name="colmd2">col-md-12</v:variable.set>
                <v:variable.set name="colmd3">col-md-12</v:variable.set>
                <v:variable.set name="colmd4">col-md-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{colmd} == 'col-50'">
            <f:then>
                <v:variable.set name="colmd">col-md-6</v:variable.set>
                <v:variable.set name="colmd2">col-md-6</v:variable.set>
                <v:variable.set name="colmd3">col-md-6</v:variable.set>
                <v:variable.set name="colmd4">col-md-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{colmd} == 'col-25'">
            <f:then>
                <v:variable.set name="colmd">col-md-3</v:variable.set>
                <v:variable.set name="colmd2">col-md-3</v:variable.set>
                <v:variable.set name="colmd3">col-md-3</v:variable.set>
                <v:variable.set name="colmd4">col-md-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{col-lg} == 'col-100'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg4">col-lg-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-50'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg4">col-lg-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-25'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg4">col-lg-3</v:variable.set>
            </f:then>
        </f:if>

        <v:variable.set name="classes_col_0" value="{col-xs} {col-sm} {colmd} {col-lg}" />
        <v:variable.set name="classes_col_1" value="{col-xs} {col-sm2} {colmd2} {col-lg2}" />
        <v:variable.set name="classes_col_2" value="{col-xs} {col-sm3} {colmd3} {col-lg3}" />
        <v:variable.set name="classes_col_3" value="{col-xs} {col-sm4} {colmd4} {col-lg4}" />
        

        <div class="row {visibility-xs} {visibility-sm} {visibility-md} {visibility-lg}">
            <div class="col-xs-12 {f:if(condition: offset-sm, then: 'col-sm-offset-1 col-sm-10', else: 'col-sm-offset-0 col-sm-12')} {f:if(condition: offset-md, then: 'col-md-offset-1 col-md-10', else: 'col-md-offset-0 col-md-12')} {f:if(condition: offset-lg, then: 'col-lg-offset-1 col-lg-10', else: 'col-lg-offset-0 col-lg-12')}">
                <div class="row">
                    <div class="{classes_col_0}">
                        <flux:content.render area="col0" />
                    </div>
                    <div class="{classes_col_1}">
                        <flux:content.render area="col1" />
                    </div>
                    <div class="{classes_col_2}">
                        <flux:content.render area="col2" />
                    </div>
                    <div class="{classes_col_3}">
                        <flux:content.render area="col3" />
                    </div>
                </div>
            </div>
        </div>

    </f:section>

</div>
